<?php

return array(
    'ZfcUserLdap' => array(
        'identity_providers' => array(
            'ldap_role_key' => 'objectclass',
            'usable_roles' => array('posixAccount'),
        ),
        'logging' => array(
            'log_dir' => 'data/logs',
            'log_filename' => 'ldap.log',
            'log_enabled' => true,
            'log_level' => 7 /* EMERG=0, ALERT=1, CRIT=2, ERR=3, WARN=4, NOTICE=5, INFO=6, DEBUG=7 */
        ),
        'auto_insertion' => array(
            'enabled' => true,
            'auto_update' => false,
        ),
        'default_role' => 'guest',
    ),
);
